@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700&display=swap&subset=latin-ext');

@mixin buttons {
  width: 30px;
  padding: 4px;
  margin-bottom: 4px;
  border: 1px solid $slateblue;
  border-radius: 4px;
  background: $white;
  &:hover {
    cursor: pointer;
    background: $slateblue;
    color: $white;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $bg;
  font-family: Open Sans, Roboto, Arial, Helvetica, sans-serif;
}

.main {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--hidden {
    display: none;
  }
}

.loader {
  padding: 18px;
  width: 100%;
  background: $white;
  &__item {
  border: 4px solid $whitesmoke;
  border-top: 4px solid $slateblue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  }
}

.form {
  width: 70%;
  display: flex;
  justify-content: center;
  &__box {
    &:first-child {
      margin-right: 16px;
    }
  }
  &__filter, &__select {
    padding: 4px;
  }
}

.table {
  width: 70%;
  border-collapse: collapse;
  box-shadow: 0 0 4px 1px (#5757579d);
  border-radius: 8px;
  margin-bottom: 12px;

  &__data, &__header {
    text-align: center;
    padding: .75rem;
  }
  &__row {
    background: $white;
    &:nth-of-type(2n-1) {
      background: $whitesmoke;
    }
    &:last-of-type {  
      &>td {
        &:first-child {
          border-radius: 0 0 0 8px;
        }
        &:last-child {
          border-radius: 0 0 8px 0;
        }
      }
    }
    &:hover {
      cursor: pointer;
      background: darken($color: #6a5acd05, $amount: 0);
    }
  }
  &__header {
    background: $slateblue;
    color: $white;
    &:first-child {  
      border-radius: 8px 0 0 0;
    }
    &:last-child {  
      border-radius: 0 8px 0 0;
    }
  }
}

.pagination {

  &__button {
    @include buttons;
  }
}

.details {
  display: none;
  &__box {
    background: $white;
    padding: 20px;
    border-radius: 8px;    
  }
  &--visible {
    display: block;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.return {
  @include buttons;
  width: fit-content;
}

.tooltip {
  display: none;
  &--visible {
    display: block;
  }
}


// MEDIA QUERIES
@media (max-width: 768px) {
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .table {
    width: 100%;
  }
}

@media (max-width: 540px) {
  body {
   font-size: smaller; 
  }
}

@media (max-width: 424px) {
  body {
   font-size: x-small; 
  }
}

@media (max-width: 370px) {
  .main {
    padding: 2px;
  }
  .form__box {
      margin: 4px;
  }
}